/********

GENERAL stylesheet

***********/



body {
  padding-top: 20px;
  padding-bottom: 60px;
  background-color: #EBE6ED;
  font-family: Verdana;
}



/* main heading - Dragon Drop */

h1, h2{

	font-family: Cambria;
	font-weight: bold;
	color: #301830;
	text-align: center;
	margin-right:auto;
	margin-left:auto;
	padding-top:20px;
	}
	
h1.header {
	font-size: 60px;
	margin-top: -180px;
	}

.initial-header {
font-size: 110px;
	margin-top: 0;
	padding-top: 0;
}	
	
h1 a,
h1 a:hover,
h3 a,
h3 a:hover {
text-decoration:none;
color:inherit;
}	
	
	
h2 {
	font-size: 50px;
}
	
	
h3  {
	font-family: Cambria;
	font-size: 28px;
	color: #301830;
	margin: 0 0 20px 0;
	}
	
.folders {
	margin: 30px 0 10px 0;
}

h3.results {
margin-bottom: 10px;
}

/* Embedded YouTube player */
iframe {
  margin: 10px;
}

	
/* the Dragon logo in the left corner*/

img.subpage{

	display: block;
	width: 84%;
	opacity:0.4;
}

/* Dragon in the middle*/

img {
	display: block;
    margin-left: auto;
    margin-right: auto;
	}
	


/* footer navigation bar */

	
.navbar-nav {
font-size: 18px;
width: 100%;
}
a.footer:hover {
  color: #66512c;
}
.navbar-fixed-bottom {
background-color: #F9F2FA;
}


/* inpyt field focus*/
.form-control:focus {
  border-color: #5f3c5f; 
  outline: 0;
  -webkit-box-shadow: inset 0 1px 1px rgba(0,0,0,.075), 0 0 8px rgba(65, 47, 65, .6);
          box-shadow: inset 0 1px 1px rgba(0,0,0,.075), 0 0 8px rgba(65, 47, 65, .6);
}

	/* buttons */
	
.btn-primary-signin{
	margin-left: auto;
	margin-right: auto;
	color: #fff;
	background-color: #412f41;
	border-color: #D1D1D1;
	width: 40%;
}

	
.btn-primary-signin a,
.btn-primary-search a,
.btn-primary-delete a,
.btn-primary-folder a,
.btn-primary-add a{
	text-decoration: none;
	color: #fff;
	}
	
.btn-primary-signin:hover,
.btn-primary-search:hover,
.btn-primary-delete:hover,
.btn-primary-folder:hover
.btn-primary-add:hover{
	background-color: #604760;
	color: #fff;
	}
	
	/* shadows for the a elements within a button 
.btn-primary-signin a:hover,
.btn-primary-signin a:active,
.btn-primary-search a:hover,
.btn-primary-search a:active,
.btn-primary-folder a:hover,
.btn-primary-folder a:active{
	text-shadow:1px 1px 2px #a5a5a5;
	}
	*/
.btn-primary-register{

   margin-right: 0px;
  color: #fff;
  background-color: #896589;
  border-color: #D1D1D1;
  margin-right: 0px;
  margin-left: 50px;
	width: 40%;
	
}

.btn-primary-register a {
	text-decoration: none;
	color: #301830;
	}

.btn-primary-register:hover,
.btn-primary-register:active {
	
	background-color: #664966;
	}
	
.btn-primary-folder {
float: right;
}


/**********

END of general stylesheet 

*************/


/***********

Sign in page stylesheet

***********/




.nav > li > a {
display: inline-block;
}

.form-signin,
.form-register {
  max-width: 330px;
  padding: 15px;
  margin: 0 auto;
}
.form-signin .form-signin-heading,
.form-signin .checkbox {
  margin-bottom: 10px;
}
.form-signin .checkbox {
  font-weight: normal;
}
.form-signin .form-control,
.form-register .form-control {
  position: relative;
  height: auto;
  -webkit-box-sizing: border-box;
     -moz-box-sizing: border-box;
          box-sizing: border-box;
  padding: 10px;
  font-size: 16px;
}
.form-signin .form-control:focus,
.form-register .form-control:focus{
  z-index: 2;
}
.form-signin input[type="email"],
.form-register input[type="email"]{
  margin-bottom: -1px;
  border-bottom-right-radius: 0;
  border-bottom-left-radius: 0;
}
.form-signin input[type="password"],
.form-register input[type="email"]{
  margin-bottom: 10px;
  border-top-left-radius: 0;
  border-top-right-radius: 0;
}


/***********

END OF Sign in page stylesheet

***********/


/***********

User page stylesheet

***********/

    .small-screen-move-button, .twitter-share-link {
      float:right;
      margin-right:2px;
      margin-top:2px;
    }
    .twitter-share-link img {
      padding-right: 4px;
      padding-top: 4px;
      margin-left:4px;
      width: 24px;
      opacity: 0.4;
    }

    .draggable-helper {
        width: 140px;
        background: yellow;
        box-shadow: 1px 1px 2px 2px rgba(0,0,0,0.3)
    }

	
        /* Sticky footer styles
        -------------------------------------------------- */
        html {
          position: relative;
        }
        body {
          /* Margin bottom by footer height */
          margin-bottom: 60px;
        }
        #footer {
          position: absolute;
          bottom: 0;
          width: 100%;
          /* Set the fixed height of the footer here */
          height: 60px;
          background-color: #f5f5f5;
        }
        
        
       /* For Dragon Drop */
       .dd-folder-icon	   {
           font-size: 2.5em;
		   color: #412f41;
       }
	   
	   .btn-primary-search,
	   .btn-primary-delete,
	   .btn-primary-folder,
		.btn-primary-add	   {
		background-color: #412f41;
		border-color: #382f41;
		color: #fff;
	   }
	   

	  

       .draggable {
          color: #412f41;
          background-color: rgba(40,0,70,0.15); /*#DBD0DD;*/
          margin-bottom: 4px;
       }

       .draggable.saved-bookmark {
          background-color: rgba(255,255,50,0.15); /*#DBD0DD;*/
       }
	   
	   .draggable a,
	   .draggable a:hover {
	   color: #412f41;
	   }
       
       .droppable {
          padding-top:12px;
          width:100%;
          position:relative;
       }
       
       .f-drop {
          color: #79697A;
       }
       .folder-name{
		  color: #301830;
          font-size: 16px;
		  position: relative;
		  top:-0.3em;
		  padding-left: .5em;
          margin-right: 20px;
       }
       
       .droppable a:hover  {
          text-decoration:none;
       }
       
       .domain-name {
          color: #888;
       }
	   
	   .add-folder {
	       padding: 20px 0;
	   }
	   
	   

/* folder area - user page and folder pages */

#scrollable, #scrollable-bookmarks {
margin-left: auto;
margin-right: auto;
overflow-y: auto;
overflow-x: hidden;
}



.row #scrollable {
margin-top: 10px;
}


.add-url {
border-top: 10px solid #EBE6ED;
 font-family: Verdana;
}

.add-url a{
 font-family: Verdana;
}

.row {
//margin: 100px -15px 0 -15px;
width:100%;

}
/* columns for the user, folder pages */
.col-md-3 {
background-color: #DBD0DD;
padding-top: 10px;
}

.col-md-6{
z-index: 10;
}

.top-bookmarks{
z-index: 1;
}

.top-bookmarks a,
.top-bookmarks a:hover{
color:#412f41;
}

.top-bookmarks ol{
font-weight: bold;
}

.bin {
padding: 5px 20px;
border-top: 10px solid #EBE6ED;
margin-top: 30px;
}

.highlight-droppable {
  text-shadow: 0 0 0.2em #f00, 0 0 0.2em #FFFFFD;
}
.highlight-droppable-hover {
  text-shadow: 0 0 15px #f00, 0 0 0.4em #FFFFFD;
}

	/*** YELLOW highlight ***/

/*.highlight-droppable {
  text-shadow: 0 0 0.2em #FCED7E, 0 0 0.2em #FFFFFD;
}
.highlight-droppable-hover {
  text-shadow: 0 0 15px yellow, 0 0 0.4em #FFFFFD;
}
*/
.bin span {

display: block;
font-size: 120px;
color: #5F4864;
padding-top: 70px;
text-align:center;
}

.bin .bin-message {
margin: 30px auto 0 auto;
font-size: 1em;
display: none;
text-align: center;
padding: 0;
}

#search-results {
height: 90%;
height: calc(100% - 60px);
overflow: auto;
margin-top: 20px;
margin-bottom:10px;
}


/*.navbar-fixed-bottom {
font-size: 24px;
background-color: #EBE6ED;
}

.navbar-nav li {
padding: 10px;
}*/

.glyphicon-search {
/*font-size: 4em;*/
}

.logout {
font-size: 12px;
}

li.user-details {
float: right;
margin-right: 0px;
}


/** bookmark list in a FOLDER page **/

#sortable {
clear: both;
padding-top: 10px;
}

/* top navigation - user details */
.navbar-inverse {
  background-color: #EBE6ED;
  border: none;
  width: 30%;
  margin-left: 380px;
  font-size: 20px;
}

.lighter-colour {
  opacity: 0.5;
}


@media (max-width: 992px) {

	body {
	padding-top: 20px;
	}
		
	.col-md-3 {
	/*height: inherit;*/
	padding: 10px;
	margin-top: 20px;
	}
	
	.row {
	width: 95%;
	margin-right: auto;
	margin-left: auto;
	}
	
	
	img.subpage {
	width: 84%;
	opacity: 0.1;
	}
	
	h1.header {
	margin-top: -95%;
	}
	
	#scrollable {
	height: inherit;
	margin-left: auto;
	margin-right: auto;
	overflow-y: visible;
	overflow-x: visible;
	}

	.col-md-6 {
	margin-top: 20px;
	}
	
	#search-results {
	height: inherit;
	}
	
	.results #scrollable {
	height: inherit;
	}	
}

@media (min-width: 768px) {
	.col-sm-6 {
	    width: 100%;
	}
}

/* For desktop devices, make the page screen height */
@media (min-width: 992px) {
    html, body {
        overflow: auto;
        height:100%;
        min-height:800px;
    }
    body {
        margin-bottom:-60px;
    }
    
    .container > .row {
        height:100%;
    }
    .col-md-3 {
        height:100%;
    }
    .container {
      height:100%;
    }
    .col-md-6.results {
      height:100%;
    }
    #folder-box {
       height:100%;
    }
}

a.delete-bookmark {
float: right;
font-size: 1.5em;
padding: 0 5px 0 5px;
color: #B1B1B1
}

a.delete-bookmark :hover {
color: red;
}

.delete-folder {
color: #B1B1B1;
font-size: 1.5em;
display:none;
float:right;
margin-top:0.5em;
margin-right: -25px;
height:100%;
cursor: pointer;
}

.delete-folder:hover {
color: red;
}


/***********

END OF User page stylesheet

***********/


/******** 

GENERAL pages:
	- About
	- Privacy
	- Help

*********/

h3.general {

font-size: 45px;
font-weight: bold;
}

