/********

GENERAL stylesheet

***********/



body {
  padding-top: 20px;
  padding-bottom: 20px;
  background-color: #EBE6ED;
  font-family: Verdana;
}

/* main heading - Dragon Drop */

h1, h2{

	font-family: Cambria;
	font-weight: bold;
	color: #301830;
	text-align: center;
	width: 60%;
	margin-right:auto;
	margin-left:auto;
	padding-top:20px;
	}
	
h1.header {
	font-size: 110px;
	margin-top: -250px;
	}

h1 a,
h1 a:hover,
h3 a,
h3 a:hover {
text-decoration:none;
color:inherit;
}	
	
	
h2 {
	font-size: 50px;
}
	
	
h3  {
	font-family: Cambria;
	font-size: 28px;
	color: #301830;
	}
	

/* Embedded YouTube player */
iframe {
  margin: 10px;
}

.delete-folder-button {
  float: right;
}
	
.delete-bookmark-button {
  float: right;
  margin: 5px;
}
	
/* the Dragon logo in the corner*/

img.subpage{
float: right;
width: 20%;
height: 20%;
padding-bottom: 50px;
}

/* Dragon in the middle*/

img {
	padding: 20px;
	vertical-align: middle;
	display: block;
    margin-left: auto;
    margin-right: auto 
	}
	
	/* all nav bards */
	

	
	/* footer navigation bar */

	
.navbar-nav {
font-size: 18px;
width: 100%;
}
a.footer:hover {
  color: #66512c;
}
.navbar-fixed-bottom {
background-color: #F9F2FA;
}


/* inpyt field focus*/
.form-control:focus {
  border-color: #5f3c5f; 
  outline: 0;
  -webkit-box-shadow: inset 0 1px 1px rgba(0,0,0,.075), 0 0 8px rgba(65, 47, 65, .6);
          box-shadow: inset 0 1px 1px rgba(0,0,0,.075), 0 0 8px rgba(65, 47, 65, .6);
}

	/* buttons */
	
.btn-primary-signin{
	margin-left: auto;
	margin-right: auto;
	color: #fff;
	background-color: #412f41;
	border-color: #D1D1D1;
	width: 40%;
}

	
.btn-primary-signin a,
.btn-primary-search a,
.btn-primary-folder a{
	text-decoration: none;
	color: #fff;
	}
	
.btn-primary-signin:hover,
.btn-primary-search:hover,
.btn-primary-folder:hover{
	background-color: #604760;
	color: #fff;
	}
	
	/* shadows for the a elements within a button 
.btn-primary-signin a:hover,
.btn-primary-signin a:active,
.btn-primary-search a:hover,
.btn-primary-search a:active,
.btn-primary-folder a:hover,
.btn-primary-folder a:active{
	text-shadow:1px 1px 2px #a5a5a5;
	}
	*/
.btn-primary-register{

   margin-right: 0px;
  color: #fff;
  background-color: #896589;
  border-color: #D1D1D1;
  margin-right: 0px;
  margin-left: 50px;
	width: 40%;
	
}

.btn-primary-register a {
	text-decoration: none;
	color: #301830;
	}

.btn-primary-register:hover,
.btn-primary-register:active {
	
	background-color: #664966;
	}
	
.btn-primary-folder {
float: right;
}

/* folder area - user page and folder pages */

#scrollable {
height: 600px;
margin-left: auto;
margin-right: auto;
overflow-y: auto;
overflow-x: hidden;
}

/**********

END of general stylesheet 

*************/


/***********

Sign in page stylesheet

***********/


.form-signin {
  max-width: 330px;
  padding: 15px;
  margin: 0 auto;
}
.form-signin .form-signin-heading,
.form-signin .checkbox {
  margin-bottom: 10px;
}
.form-signin .checkbox {
  font-weight: normal;
}
.form-signin .form-control {
  position: relative;
  height: auto;
  -webkit-box-sizing: border-box;
     -moz-box-sizing: border-box;
          box-sizing: border-box;
  padding: 10px;
  font-size: 16px;
}
.form-signin .form-control:focus {
  z-index: 2;
}
.form-signin input[type="email"] {
  margin-bottom: -1px;
  border-bottom-right-radius: 0;
  border-bottom-left-radius: 0;
}
.form-signin input[type="password"] {
  margin-bottom: 10px;
  border-top-left-radius: 0;
  border-top-right-radius: 0;
}


/***********

END OF Sign in page stylesheet

***********/


/***********

User page stylesheet

***********/


    .draggable-helper {
        width: 140px;
        background: yellow;
        box-shadow: 1px 1px 2px 2px rgba(0,0,0,0.3)
    }

	
        /* Sticky footer styles
        -------------------------------------------------- */
        html {
          position: relative;
          min-height: 100%;
        }
        body {
          /* Margin bottom by footer height */
          margin-bottom: 60px;
        }
        #footer {
          position: absolute;
          bottom: 0;
          width: 100%;
          /* Set the fixed height of the footer here */
          height: 60px;
          background-color: #f5f5f5;
        }
        
        
       /* For Dragon Drop */
       .dd-folder-icon	   {
           font-size: 1.3em;
		   color: #412f41;
       }
	   
	   .btn-primary-search,
	   .btn-primary-folder	   {
		background-color: #412f41;
		border-color: #382f41;
		color: #fff;
	   }
	   

	  

       .draggable {
          color: #412f41;
          background-color: rgba(40,0,70,0.15); /*#DBD0DD;*/
          margin-bottom: 4px;
       }

       .draggable.saved-bookmark {
          background-color: rgba(255,255,50,0.15); /*#DBD0DD;*/
       }
	   
	   .draggable a,
	   .draggable a:hover {
	   color: #412f41;
	   }
       
       .droppable {
          padding-top:12px;
       }
       
       .f-drop {
          color: #79697A;
       }
       .folder-name{
          font-size: 14px;
		  color: #301830;
		  margin-top: -5px;
       }
       
       .droppable a:hover  {
          text-decoration:none;
       }
       
       .domain-name {
          color: #888;
       }
/*
ul {
list-style-type: none;
font-size: 16px;

}*/

/*.container {
background-color: pink;
padding-top:30px;
}*/


/* Dragon image */

.behind-header {
opacity:0.4;
}

.row {
//margin: 100px -15px 0 -15px;

}
/* columns for the user, folder pages */
.col-md-3 {

background-color: #DBD0DD;/*#F9F2FA;*/

}

.top-bookmarks{
z-index: 1;
}

.bin {
padding: 5px 20px;
border-top: 10px solid #EBE6ED;
margin-top: 30px;

}

.highlight-droppable {
  text-shadow: 0 0 0.2em #FCED7E, 0 0 0.2em #FFFFFD;
}
.highlight-droppable-hover {
  text-shadow: 0 0 15px yellow, 0 0 0.4em #FFFFFD;
}

.bin span {

display: block;
font-size: 120px;
color: #5F4864;
padding: 80px 50px;
text-align:center;
}


.col-md-6{

/*margin-top: -20px;*/
z-index: 10;
}

/*.navbar-fixed-bottom {
font-size: 24px;
background-color: #EBE6ED;
}

.navbar-nav li {
padding: 10px;
}*/

.glyphicon-search {
/*font-size: 4em;*/
}

.logout {
font-size: 12px;
}

li.user-details {

float: right;
margin-right: 0px;


}

/* top navigation - user details */
.navbar-inverse {
  background-color: #EBE6ED;
  border: none;
  width: 30%;
  margin-left: 380px;
  font-size: 20px;
}

.lighter-colour {
  opacity: 0.5;
}

@media (max-width: 1200px) {
  .row {
  margin: 10px -15px 0 -15px;
  }
}

/***********

END OF User page stylesheet

***********/


/******** 

GENERAL pages:
	- About
	- Privacy
	- Help

*********/

.general {

background-color: rgb(219, 208, 221);
margin-top: 100px;
padding: 10px;
width:inherit;

}

.general h2 {
margin-top: 0;
padding-top: 0;
text-align: left;
width: auto;
}
