


	
        /* Sticky footer styles
        -------------------------------------------------- */
        html {
          position: relative;
          min-height: 100%;
        }
        body {
          /* Margin bottom by footer height */
          margin-bottom: 60px;
        }
        #footer {
          position: absolute;
          bottom: 0;
          width: 100%;
          /* Set the fixed height of the footer here */
          height: 60px;
          background-color: #f5f5f5;
        }
        
        
       /* For Dragon Drop */
       .dd-folder-icon	   {
           font-size: 4em;
		   color: #412f41;
       }
	   
	   .btn-primary-search,
	   .btn-primary-folder	   {
		background-color: #412f41;
		border-color: #382f41;
		color: #fff;
	   }
	   

	  

       .draggable {
          color: #412f41;
          background-color: rgba(255,255,255,0.6);
          margin-bottom: 4px;
       }
	   
	   .draggable a,
	   .draggable a:hover {
	   color: #412f41;
	   }
       
       .droppable {
          padding-top:20px;
       }
       
       .f-drop {
          color: #79697A;
       }
       .folder-name{
          font-size: 14px;
		  color: #301830;
		  margin-top: -5px;
       }
       
       .domain-name {
          color: #888;
       }
/*
ul {
list-style-type: none;
font-size: 16px;

}*/

/*.container {
background-color: pink;
padding-top:30px;
}*/


/* columns for the user, folder pages */
.col-md-3 {

background-color: #F9F2FA;

}

.bin{
z-index: 1;
}


.col-md-6{

/*margin-top: -20px;*/
z-index: 10;
}

/*.navbar-fixed-bottom {
font-size: 24px;
background-color: #EBE6ED;
}

.navbar-nav li {
padding: 10px;
}*/

.glyphicon-search {
/*font-size: 4em;*/
}

.logout {
font-size: 12px;
}

/* top navigation - user details */
.navbar-inverse {
  background-color: #EBE6ED;
  border: none;
  width: 30%;
  margin-left: 380px;
  font-size: 20px;
}

.lighter-colour {
  opacity: 0.5;
}
