/* Custom CSS for the LOGIN PAGE! */

body {
  padding-top: 40px;
  padding-bottom: 40px;
  background-color: #eee;
}

 

.form-signin {
  max-width: 330px;
  padding: 15px;
  margin: 0 auto;
}
.form-signin .form-signin-heading,
.form-signin .checkbox {
  margin-bottom: 10px;
}
.form-signin .checkbox {
  font-weight: normal;
}
.form-signin .form-control {
  position: relative;
  height: auto;
  -webkit-box-sizing: border-box;
     -moz-box-sizing: border-box;
          box-sizing: border-box;
  padding: 10px;
  font-size: 16px;
}
.form-signin .form-control:focus {
  z-index: 2;
}
.form-signin input[type="email"] {
  margin-bottom: -1px;
  border-bottom-right-radius: 0;
  border-bottom-left-radius: 0;
}
.form-signin input[type="password"] {
  margin-bottom: 10px;
  border-top-left-radius: 0;
  border-top-right-radius: 0;
}
h1 {
	font-size: 90px;
	font-family: Cambria;
	font-weight: bold;
	color: #41097A;
	text-align: center
	}
	
.btn-primary-signin{
    margin-left: auto;
    margin-right: auto;
  color: #fff;
  background-color: #41097A;
  border-color: #D1D1D1;
	width: 40%;

  
}


.btn-primary-register{

    margin-right: 0px;

  color: #fff;
  background-color: #D8CAEB;
  border-color: #D1D1D1;
  margin-right: 0px;
  margin-left: 50px;
	width: 40%;
	
}



img {
	padding: 20px;
	vertical-align: middle;
	display: block;
    margin-left: auto;
    margin-right: auto 
	}

/* END of custom CSS for the login page */