{% extends 'base.html' %}

	{% block title %}About - Dragon Drop{% endblock %}
	
	{% block middle_column %}
	
		<h3 class="general">About</h3>
				Dragon-Drop is a bookmarking site.
				Our ranking filter is applied to your search results to increase suitability of responses.
		<br><br>
		We have: 
		<ul>
			<li>Prioritisation of bookmarks within folders.</li>
			<li>Instances of the site within bookmarks.</li>
			<li>Overall site preferences.</li>
		</ul>
		
		<br />
		
		This Web Application has been developed as a part of MScIT Internet Technology project.
		<br />
		<br />
		Development team:
			<ul> 
				<li>Martyna Maro&nacute;</li>
				<li>Jean Power</li>
				<li>G&#246;zel Shakeri</li>
				<li>James Trimble</li>
				<li>Ruoyang Wen</li>
			</ul>
			
		<br />
	    
	    <a href="https://twitter.com/dragondropping"
	       class="twitter-follow-button"
	       data-size="large"
	       data-show-count="false"
	       data-lang="en">Follow @dragondropping</a>

	{% endblock %}