{% load static %}
{% if folders %}

                                    {% for folder in folders %}
                                      <div class="col-md-12 droppable">
                                        {% if folder.url %}
                                          <span class="glyphicon glyphicon-remove-circle delete-folder"></span>
                                          <a href="/{{folder.url}}/">
                                            <span class="glyphicon {{folder.glyphicon_name|default:"glyphicon-folder-close"}} dd-folder-icon"></span>
                                            <span class="folder-name">{{ folder }}</span>
                                          </a>
                                        {% else %}
                                          <span class="glyphicon {{folder.glyphicon_name|default:"glyphicon-folder-close"}} dd-folder-icon"></span>
                                          <span class="folder-name">{{ folder }}</span>
                                        {% endif %}
                                        <span class="folder-message"></span>
                                      </div>
                                    {% endfor %}
                                {% endif %}
                                {% include "auto-added-folder.html" %}