<!DOCTYPE html>

{% load static %}

<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="">
    <meta name="author" content="">
    <link rel="shortcut icon" href="../../assets/ico/favicon.ico">

    <title>User Page Dragon Drop</title>

    <!-- Bootstrap core CSS -->
    
    <link rel="stylesheet" href="{% static "css/bootstrap.css" %}" />
    <link rel="stylesheet" href="{% static "css/user.css" %}" />
    <link rel="stylesheet" href="{% static "css/jquery-ui-1.10.4.custom.css" %}" />
    
    <!-- Custom styles for this template -->
   

    <!-- Just for debugging purposes. Don't actually copy this line! -->
    <!--[if lt IE 9]><script src="../../assets/js/ie8-responsive-file-warning.js"></script><![endif]-->

    <!-- HTML5 shim and Respond.js IE8 support of HTML5 elements and media queries -->
    <!--[if lt IE 9]>
      <script src="https://oss.maxcdn.com/libs/html5shiv/3.7.0/html5shiv.js"></script>
      <script src="https://oss.maxcdn.com/libs/respond.js/1.4.2/respond.min.js"></script>
    <![endif]-->
    
    
    
  </head>

  <body>



    <div class="container">

      <form method="post" >
        {% csrf_token %}
        <div class="input-group">
          <input type="text" class="form-control" placeholder="Paste the URL of a page.........." name="url" autofocus>
          <span class="input-group-btn">
            <button type="submit" class="btn btn-primary" >Add to this folder</button>
          </span>
        </div>

      </form>

      <h2>Bookmarks in this folder</h2>

      {% if folder_contents %}
      <!-- Display search results in an ordered list -->
      <div style="clear: both;">
        {% for bookmark in folder_contents %}
            <div class="draggable">
                <strong><a href="{{ bookmark.url }}">{{ bookmark.btitle }}</a></strong><br />
                <em>{{ bookmark.bdescr }}</em>
           </div>
        {% endfor %}
      </div>
      {% endif %}          


    </div>

    

    <!-- Bootstrap core JavaScript
    ================================================== -->
    <!-- Placed at the end of the document so the pages load faster -->
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.0/jquery.min.js"></script>
    <script src="http://code.jquery.com/ui/1.10.4/jquery-ui.js"></script>
    
    <script src="http://netdna.bootstrapcdn.com/bootstrap/3.1.1/js/bootstrap.min.js"></script>
    



  </body>
</html>
