{% extends 'base.html' %}

    {% block title %}{{ folder_name }} || {{user.username}} - Dragon Drop{% endblock %}
    
    {% block middle_column %}
        <h3><b id="current-folder-name">{{ folder_name }}</b></h3>


	  

	  {% if urlNotOk %}
          <div class="alert alert-danger">
			<span class="glyphicon glyphicon-warning-sign"></span></a>
              <strong>Make sure to add the full URL! (eg. http://www.google.com)</strong>
          </div>
	   {% endif %}
      
	  <!-- bookmark filtering text box-->
	   <input type="text" class="form-control" placeholder="Type to filter the list" name="bookmarks-filter" id="bookmarks-filter">
		
      <div id="scrollable-bookmarks">
          {% if bookmarks %}
             
              <!-- Display search results in an ordered list -->
              <div id="sortable">
                
                {% for bookmark in bookmarks %}
                    <div class="draggable saved-bookmark" data-bfrank="{{bookmark.bfrank}}">
                        <a href="#" alt="Delete Bookmark" class="delete-bookmark"> <span class="glyphicon glyphicon-remove "></span></a>
                        {% include "dropdown-include.html" %}
                        <a class="twitter-share-link"
                           href="https://twitter.com/intent/tweet?url={{bookmark.url}}&via=dragondropping">
                          <img src="{% static "twitter_bird_black_32.png" %}"></img>
                        </a>  
                        <strong><a href="{{ bookmark.url }}" target="_blank">{{ bookmark.niceName }}</a></strong>
                        <span class="domain-name">({{ bookmark.bdomain }})</span><br>
                        <em>{{ bookmark.bdescr }}</em>
                        {% if bookmark.video_id %}
                            <br><iframe id="ytplayer" type="text/html" width="327" height="200"
                            src="http://www.youtube.com/embed/{{bookmark.video_id}}"
                            frameborder="0"></iframe>
                        {% endif %}   
                   </div>
                {% endfor %}
              </div>
          {% endif %}          
      </div>
	  
	        {% if hideUrlInputBox == None %}
          <form method="post" >
            {% csrf_token %}
            <div class="input-group add-url">
              <input type="text" class="form-control" placeholder="Paste the URL of a page" name="url" autofocus>
              <span class="input-group-btn">
                <button type="submit" class="btn btn-primary-search" >
                <a href ="#"><span class="glyphicon glyphicon-plus"></span> URL</a>
                </button>
              </span>
            </div>
          </form>
      {% endif %}
	  
	  
    {% endblock %}
    
    