{% extends 'base.html' %}

	{% block title %}Help - Dragon Drop{% endblock %}
	
	{% block middle_column %}
	
	<h3 class="general">Help</h3>
		
		To start using your Dragon-Drop account, please register first! Once you're logged in, you can start saving your bookmarks into your folders.
		
		<br />
		<br />
		Create folders by adding a folder name in the folder area. If you collect too many folders to scroll through, you can just filter the list by typing in the folder name in the 
		filter box on the top.
		
		<br />
		<br />
		
		To search for sites, just type in a search query in to the search box in the middle. Then the magic begins! You can drag the bookmarks and drop them in your folders. You can save a bookmark in many folders.
		
		<br />
		<br />
		On occasion, you may not want to see certain pages in your search. Then, drag the result into your bin. You can always view your bin and reverse your changes should you decide the site has become useful again.
		<br />
		<br />
		You can also delete a whole folder! But be careful, as that's final!
			
	{% endblock %}