{% extends 'initial_base.html' %}

{% block title %}Sign in - Dragon Drop{% endblock %}

	{% block header %}
		<h1 class="initial-header">Dragon Drop</h1>
	{% endblock %}
	
	
	{% block form %}
	
      <form class="form-signin" id="LoginForm" method="post" action="/dragondrop/">
	  
	  {% csrf_token %}
	  
		<input type="text" name="username" class="form-control" placeholder="Username" required autofocus size="50" />
		<br />
		<input type="password" name="password" class="form-control" placeholder="Password" required size="50" />
		<br />

	  <button class="btn btn-lg btn-primary-signin" input type="submit" value="Login"/>Log in</button>
	  <button class="btn btn-lg btn-primary-register"><a href='register'>Register<a/></button>
	  </form>
	  
	 {% endblock %}