{% extends 'initial_base.html' %}

{% block title %}Register - Dragon Drop{% endblock %}

	{% block header %}
		<h2>Register for Dragon Drop</h2>
	{% endblock %}
	
	
	{% block form %}
	
      <form id="user_form" class="form-register" method="post" action="/dragondrop/register/">
	  
	  {% csrf_token %}
	  
	           <input type="text" name="username" class="form-control" placeholder="Username" required autofocus size="50" />
                <br />
                <input type="password" name="password" class="form-control" placeholder="Password" required size="50" />
                <br />
                <input type="email" name="email" class="form-control" placeholder="E-Mail" required size="50" />
                <br />
		
		<br />

	   <button class="btn btn-lg btn-primary-signin" input type="submit" value="Register"/>Register</button>
	  
	  </form>
	  
	 {% endblock %}