{% load static %}

<!-- special folders -->


                    <div class="special-folders-title">Special Folders</div>

                            <div class="special-folders">

                                    <a href="/popular">
                                        <span class="glyphicon glyphicon-star dd-folder-icon"></span>
                                        <span class="folder-name">Popular</span>
                                    </a>

                                    <a href="/history">
                                        <span class="glyphicon glyphicon-time dd-folder-icon"></span>
                                        <span class="folder-name">History</span>
                                    </a>

                                    <a href="/latest">
                                        <span class="glyphicon glyphicon-flash dd-folder-icon"></span>
                                        <span class="folder-name">Latest</span>
                                    </a>

                                    <a href="/bin-folder" class="bin droppable">
                                        <span class="glyphicon glyphicon-trash dd-folder-icon"></span>
                                        <span class="folder-name">Bin</span>
                                    </a>

                            </div> <!--/.special-folders-->