{% load static %}


<!-- special folders -->

    {% if suggested_folders %}

                            <div class="suggested-folders-title">Suggested Folders</div>

    <div class="suggested-folders">

        {% for folder in suggested_folders %}

                                      <div class="col-md-12 droppable">
                                        {% if folder.url %}
                                          <span class="glyphicon glyphicon-remove-circle delete-folder"></span>
                                          <a href="/{{folder.url}}/">
                                            <span class="glyphicon {{folder.glyphicon_name|default:"glyphicon-folder-close"}} dd-folder-icon"></span>
                                            <span class="folder-name">{{ folder }}</span>
                                          </a>
                                        {% else %}
                                          <span class="glyphicon {{folder.glyphicon_name|default:"glyphicon-folder-close"}} dd-folder-icon"></span>
                                          <span class="folder-name">{{ folder }}</span>
                                        {% endif %}
                                        <span class="folder-message"></span>
                                      </div>

        {% endfor %}






                <div class="css-autocreated-folders">
                {% if add_autocreated_folder %}
                    <a href="/{{search_query_urlencoded}}/">
                        <div class="col-md-12 droppable">
                            <span class="autocreated-folder lighter-colour">
                              <span class="glyphicon {{folder.glyphicon_name|default:"glyphicon-folder-open"}} dd-folder-icon"></span>
                              <span id="autocreated-folder-name" class="folder-name">{{search_query}}</span>
                            </span>
                            <span class="folder-message"></span>
                        </div>
                    </a>
                {% endif %}

                                <br class="clear" />


                </div> <!--/.css-autocreated-folders-->




    <br class="clear" />

<!-- TODO: Delinate between suggested folders and normal folders -->
    </div> <!--/.special-folders-->





    {% endif %}