<!DOCTYPE html>

{% load static %}

<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="">
    <meta name="author" content="">
    <link rel="shortcut icon" href="../../assets/ico/favicon.ico">

    <title>User Page Dragon Drop</title>

    <!-- Bootstrap core CSS -->
    
    <link rel="stylesheet" href="{% static "css/bootstrap.css" %}" />
    <link rel="stylesheet" href="{% static "css/general-dragon.css" %}" />
    <link rel="stylesheet" href="{% static "css/user.css" %}" />
    <link rel="stylesheet" href="{% static "css/jquery-ui-1.10.4.custom.css" %}" />
    
    <!-- Custom styles for this template -->
   

    <!-- Just for debugging purposes. Don't actually copy this line! -->
    <!--[if lt IE 9]><script src="../../assets/js/ie8-responsive-file-warning.js"></script><![endif]-->

    <!-- HTML5 shim and Respond.js IE8 support of HTML5 elements and media queries -->
    <!--[if lt IE 9]>
      <script src="https://oss.maxcdn.com/libs/html5shiv/3.7.0/html5shiv.js"></script>
      <script src="https://oss.maxcdn.com/libs/respond.js/1.4.2/respond.min.js"></script>
    <![endif]-->
    
    
    
  </head>

  <body>



      <div class="container">
      
      
      
          <!-- Fixed USER navbar -->
    <div class="navbar navbar-inverse navbar-fixed-top" role="navigation">
      <div class="container">

        <div class="navbar-collapse collapse">
          <ul class="nav navbar-nav">
			<li> <a class="navbar-brand" href="#"><span class="glyphicon glyphicon-user"></span>  {{user_name}}</a> </li>
            <li><a href="#">Log out  <span class="glyphicon glyphicon-log-out logout"></span></a></li>

          </ul>
        </div><!--/.nav-collapse -->
      </div>
    </div>
      
			<!-- Dragon logo -->
			<!-- the link URL needs fixing! -->
              <a href="/dragondrop/index.html/"> <img src="{% static "dragon-logo-small.png" %}" alt="Dragon Drop" class="subpage"> </a>
			  
		<!-- Dragon Drop header -->
		<!-- the link URL needs fixing! -->
        <h1><a href="/dragondrop/index.html/" alt="Dragon Drop">Dragon Drop</a></h1>
      </div>


    <div class="container">
	
      <!-- 3 columns -->
	  
      <div class="row">
	  
	  <!-- left hand-side column-->
        <div class="col-md-3">
            {% include "folder_list_include.html" %}
        </div>
		
		<!-- middle column-->
        <div class="col-md-6">
        
          <form role="search" method="post" >
            {% csrf_token %}
            <div class="input-group">
              <input type="text" class="form-control" placeholder="Search the web" name="query" autofocus>
              <span class="input-group-btn">
                <button type="submit" class="btn btn-primary-search" >
				<a href="#">
					<span class="glyphicon glyphicon-search"></span>
				</a>
				</button>
              </span>
            </div>
        
          </form>
     
          <h3>Search results</h3>
          
		  <div id="scrollable">
		  <p>
            Note to team: I've set it up so that when you make the screen really narrow,
            a drop-down list appears below each search result. I'm not sure if this is
            a good idea, but we should have a think about how to make the site work on
            touch-screen devices.
          </p>
          {% if search_results %}
          <!-- Display search results in an ordered list -->
          <div style="clear: both;">
            {% for result in search_results %}
                <div class="draggable">
                    <strong><a href="{{ result.link }}">{{ result.title }}</a></strong>
                    <span class="domain-name">({{ result.domain }})</span><br>
                    {{ result.summary }}
                    <select class="visible-xs visible-sm form-control">
                      <option disabled selected>Move to folder...</option>
                      {% for folder in folders %}
                        <option value="{{ folder.url }}">{{ folder }}</option>
                      {% endfor %}
                    </select>
               </div>
            {% endfor %}
          </div>
          {% endif %}          


       </div> 
	   </div>
	   
	   <!-- right hand-side column - BIN -->
        <div class="col-md-3 bin">
          <h3>Bin space?</h3>
          <p>Donec sed odio dui. Cras justo odio, dapibus ac facilisis in, egestas eget quam.
          Vestibulum id ligula porta felis euismod semper. Fusce dapibus, tellus ac cursus commodo, 
          tortor mauris condimentum nibh, ut fermentum massa justo sit amet risus.</p>
          <p><a class="btn btn-primary-se" href="#" role="button">View details &raquo;</a></p>
        </div>
      </div>



    </div> <!-- /container -->

    <!-- bottom navigation panel -->
    
    <div class="navbar navbar-default navbar-fixed-bottom" role="navigation">
      <div class="container">

        <div class="collapse navbar-collapse">
          <ul class="nav navbar-nav">
            <li><a href="#">About</a></li>
            <li><a href="#about">Privacy</a></li>
            <li><a href="#contact">Help</a></li>

          </ul>
        </div><!--/.nav-collapse -->
      </div>
    </div>
    

    <!-- Bootstrap core JavaScript
    ================================================== -->
    <!-- Placed at the end of the document so the pages load faster -->
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.0/jquery.min.js"></script>
    <script src="http://code.jquery.com/ui/1.10.4/jquery-ui.js"></script>
    
    <script src="http://netdna.bootstrapcdn.com/bootstrap/3.1.1/js/bootstrap.min.js"></script>
    
    <script src="{% static "js/userpage.js" %}"></script>


  </body>
</html>
