<!DOCTYPE html>

{% load static %}

<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="">
    <meta name="author" content="">
    <link rel="shortcut icon" href="../../assets/ico/favicon.ico">

    <title>User Page Dragon Drop</title>

    <!-- Bootstrap core CSS -->
    
    <link rel="stylesheet" href="{% static "css/bootstrap.css" %}" />
    <link rel="stylesheet" href="{% static "css/user.css" %}" />
    <link rel="stylesheet" href="{% static "css/jquery-ui-1.10.4.custom.css" %}" />
    
    <!-- Custom styles for this template -->
   

    <!-- Just for debugging purposes. Don't actually copy this line! -->
    <!--[if lt IE 9]><script src="../../assets/js/ie8-responsive-file-warning.js"></script><![endif]-->

    <!-- HTML5 shim and Respond.js IE8 support of HTML5 elements and media queries -->
    <!--[if lt IE 9]>
      <script src="https://oss.maxcdn.com/libs/html5shiv/3.7.0/html5shiv.js"></script>
      <script src="https://oss.maxcdn.com/libs/respond.js/1.4.2/respond.min.js"></script>
    <![endif]-->
    
    
    
  </head>

  <body>



      <div class="container">
      
      
      
          <!-- Fixed USER navbar -->
    <div class="navbar navbar-inverse navbar-fixed-top" role="navigation">
      <div class="container">
        <div class="navbar-header">
          <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
            <span class="sr-only">Toggle navigation</span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
          </button>
          <a class="navbar-brand user-name" href="#">{{user_name}}</a>
        </div>
        <div class="navbar-collapse collapse">
          <ul class="nav navbar-nav">
            <li><a href="#">Log out</a></li>

          </ul>
        </div><!--/.nav-collapse -->
      </div>
    </div>
      
          
               <img src="{% static "dragon-logo-small.png" %}" alt="Dragon Drop" > 
        <h1>Dragon Drop</h1>
      </div>


    <div class="container">
      <!-- Example row of columns -->
      <div class="row">
        <div class="col-md-3">
          <h2>Your folders</h2>
 
          <div class="row">
            {% if folder_names %}
              <!-- Display search results in an ordered list -->
              <div style="clear: both;">
                {% for folder_name in folder_names %}
                  <div class="col-md-6 col-sm-3 col-xs-6 droppable">
                      <span class="glyphicon glyphicon-folder-close dd-folder-icon"></span>
                      <p class="folder-name">{{ folder_name }}</p>
                      <p class="folder-message">&nbsp;</p>
                  </div>
                {% endfor %}
              </div>
            {% endif %}    

          </div>

        </div>
        <div class="col-md-6">
        
          <form role="search" method="post" >
            {% csrf_token %}
            <div class="input-group">
              <input type="text" class="form-control" placeholder="Search" name="query" autofocus>
              <span class="input-group-btn">
                <button type="submit" class="btn btn-primary" >Fire away!</button>
              </span>
            </div>
        
          </form>
     
          <h2>Search results</h2>
          <p>
            Note to team: I've set it up so that when you make the screen really narrow,
            a drop-down list appears below each search result. I'm not sure if this is
            a good idea, but we should have a think about how to make the site work on
            touch-screen devices.
          </p>
          {% if search_results %}
          <!-- Display search results in an ordered list -->
          <div style="clear: both;">
            {% for result in search_results %}
                <div class="draggable">
                    <strong><a href="{{ result.link }}">{{ result.title }}</a></strong><br />
                    <em>{{ result.summary }}</em>
                    <select class="visible-xs visible-sm form-control">
                      <option disabled selected>Move to folder...</option>
                      {% for folder_name in folder_names %}
                        <option value="{{ folder_name }}">{{ folder_name }}</option>
                      {% endfor %}
                    </select>
               </div>
            {% endfor %}
          </div>
          {% endif %}          


       </div>
        <div class="col-md-3">
          <h2>Bin space?</h2>
          <p>Donec sed odio dui. Cras justo odio, dapibus ac facilisis in, egestas eget quam.
          Vestibulum id ligula porta felis euismod semper. Fusce dapibus, tellus ac cursus commodo, 
          tortor mauris condimentum nibh, ut fermentum massa justo sit amet risus.</p>
          <p><a class="btn btn-default" href="#" role="button">View details &raquo;</a></p>
        </div>
      </div>

      <hr>


    </div> <!-- /container -->

    <!-- bottom navigation panel -->
    
    <div class="navbar navbar-default navbar-fixed-bottom" role="navigation">
      <div class="container">

        <div class="collapse navbar-collapse">
          <ul class="nav navbar-nav">
            <li><a href="#">About</a></li>
            <li><a href="#about">Privacy</a></li>
            <li><a href="#contact">Help</a></li>

          </ul>
        </div><!--/.nav-collapse -->
      </div>
    </div>
    

    <!-- Bootstrap core JavaScript
    ================================================== -->
    <!-- Placed at the end of the document so the pages load faster -->
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.0/jquery.min.js"></script>
    <script src="http://code.jquery.com/ui/1.10.4/jquery-ui.js"></script>
    
    <script src="http://netdna.bootstrapcdn.com/bootstrap/3.1.1/js/bootstrap.min.js"></script>
    
      <script>

          $(function() {

            $( ".draggable" ).draggable({revert:true, revertDuration: 0});
            $( ".droppable" ).droppable({
              //hoverClass: "glyphicon glyphicon-folder-open dd-folder-icon",
              over: function( event, ui ) {
                 $( this ).find("span").removeClass( "glyphicon-folder-close" );    
                 $( this ).find("span").addClass( "glyphicon-folder-open" );    
              },
              out: function( event, ui ) {
                 $( this ).find("span").removeClass( "glyphicon-folder-open" );    
                 $( this ).find("span").addClass( "glyphicon-folder-close" );    
              },
              //activeClass: "light-blue-folder",
              tolerance: "intersect",
              drop: function( event, ui ) {

                 $( this ).animate({
                    color: "#79697A",
                    }, 300 );
                 $( this ).find(".folder-message").text( "Adding link..." );
                 ui.draggable.css('visibility', 'hidden');
                 ui.draggable.slideUp();                 
                 var that=this;
                 window.setTimeout(function() {
                                     $( that ).find(".folder-message").html( "&nbsp;" );
                                     $( that ).animate({
                                        color: "black",
                                        }, 500 );
                                     $( that ).find("span").removeClass( "glyphicon-folder-open" );    
                                     $( that ).find("span").addClass( "glyphicon-folder-close" );
                                   },
                                   800);
                 
              }
            });
          });

  </script>


  </body>
</html>
